<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sustainable Shop</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link href="style.css" rel="stylesheet">
</head>
<body>
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
                <div class = "container-fluid">
                    <a class = "navbar-brand" href="#"><img src="img/#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class= "navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class= "navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="home.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="products.html">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                    <li class="dropdown">
                                        <a href="signin.html" class="dropbtn">Sign In &#8711; 
                                            <i class="dropbtn"></i>
                                        <div class="dropdown-content">
                                            <a href="#">Your Account</a>
                                            <a href="#">Wish List</a>
                        </ul>
                    </div>
                </div>
                </nav>

                <view-container id="app">
                    <view-head>
                      <h3>Products</h3>
                    </view-head>
                    
                    <view-controls>
                      <div v-for="(filterset, key) in filters" style="min-width:20ch">
                        <h6 v-text="`Filter by ${key}`"></h6>
                        <ul class="list-unstyled">
                          <li class="form-check" v-for="filter in filterset">
                            <label class="form-check-label">
                              <input class="form-check-input" 
                                     type="checkbox" 
                                     name="filters" 
                                     v-bind:value="filter"
                                     v-model="activeFilters">
                              <span v-text="filter"></span>
                            </label>
                          </li>
                        </ul>
                      </div>
                      <p v-if="activeFilters.length">
                        <button class="btn btn-sm btn-secondary" 
                                type="button"
                                v-on:click="clearFilters">Clear Filters</button>
                      </p>
                    </view-controls>
                    
                    <view-content>
                      <h6 v-text="`${filteredProducts.length} results`"></h6>
                      <p v-if="activeFilters.length">
                        <small class="text-muted" v-text="`Filtered by ${activeFilters.join(', ')}`"></small>
                      </p>
                      <product-grid>
                        <div class="card" v-for="product in filteredProducts">
                          <img class="card-img-top" src="http://fpoimg.com/300x200" alt="">
                          <div class="card-block">
                            <h5 class="card-title" v-text="product.name"></h5>
                            <p class="card-text">
                              <span v-text="`Price: $${product.price.toFixed(2)}`"></span>
                              <br>
                              <span v-text="`Skill: ${product.skill}`"></span>
                              <br>
                              <span v-text="`Usage: ${product.usage}`"></span>
                            </p>
                            <a class="btn btn-primary" href="#">Buy</a>
                          </div>
                        </div>
                        
                            <div class="card" v-for="product in filteredProducts">
                              <img class="card-img-top" src="http://fpoimg.com/300x200" alt="">
                              <div class="card-block">
                                <h5 class="card-title" v-text="product.name"></h5>
                                <p class="card-text">
                                  <span v-text="`Price: $${product.price.toFixed(2)}`"></span>
                                  <br>
                                  <span v-text="`Skill: ${product.skill}`"></span>
                                  <br>
                                  <span v-text="`Usage: ${product.usage}`"></span>
                                </p>
                                <a class="btn btn-primary" href="#">Buy</a>
                              </div>
                            </div>
                           
                                <div class="card" v-for="product in filteredProducts">
                                  <img class="card-img-top" src="http://fpoimg.com/300x200" alt="">
                                  <div class="card-block">
                                    <h5 class="card-title" v-text="product.name"></h5>
                                    <p class="card-text">
                                      <span v-text="`Price: $${product.price.toFixed(2)}`"></span>
                                      <br>
                                      <span v-text="`Skill: ${product.skill}`"></span>
                                      <br>
                                      <span v-text="`Usage: ${product.usage}`"></span>
                                    </p>
                                    <a class="btn btn-primary" href="#">Buy</a>
                                  </div>
                                </div>
                                
                                    <div class="card" v-for="product in filteredProducts">
                                      <img class="card-img-top" src="http://fpoimg.com/300x200" alt="">
                                      <div class="card-block">
                                        <h5 class="card-title" v-text="product.name"></h5>
                                        <p class="card-text">
                                          <span v-text="`Price: $${product.price.toFixed(2)}`"></span>
                                          <br>
                                          <span v-text="`Skill: ${product.skill}`"></span>
                                          <br>
                                          <span v-text="`Usage: ${product.usage}`"></span>
                                        </p>
                                        <a class="btn btn-primary" href="#">Buy</a>
                                      </div>
                                    </div>
                                    
                                        <div class="card" v-for="product in filteredProducts">
                                          <img class="card-img-top" src="http://fpoimg.com/300x200" alt="">
                                          <div class="card-block">
                                            <h5 class="card-title" v-text="product.name"></h5>
                                            <p class="card-text">
                                              <span v-text="`Price: $${product.price.toFixed(2)}`"></span>
                                              <br>
                                              <span v-text="`Skill: ${product.skill}`"></span>
                                              <br>
                                              <span v-text="`Usage: ${product.usage}`"></span>
                                            </p>
                                            <a class="btn btn-primary" href="#">Buy</a>
                                          </div>
                                        </div>
                                        
                                            <div class="card" v-for="product in filteredProducts">
                                              <img class="card-img-top" src="http://fpoimg.com/300x200" alt="">
                                              <div class="card-block">
                                                <h5 class="card-title" v-text="product.name"></h5>
                                                <p class="card-text">
                                                  <span v-text="`Price: $${product.price.toFixed(2)}`"></span>
                                                  <br>
                                                  <span v-text="`Skill: ${product.skill}`"></span>
                                                  <br>
                                                  <span v-text="`Usage: ${product.usage}`"></span>
                                                </p>
                                                <a class="btn btn-primary" href="#">Buy</a>
                                              </div>
                                            </div>
                                            <div class="card" v-for="product in filteredProducts">
                                                <img class="card-img-top" src="http://fpoimg.com/300x200" alt="">
                                                <div class="card-block">
                                                  <h5 class="card-title" v-text="product.name"></h5>
                                                  <p class="card-text">
                                                    <span v-text="`Price: $${product.price.toFixed(2)}`"></span>
                                                    <br>
                                                    <span v-text="`Skill: ${product.skill}`"></span>
                                                    <br>
                                                    <span v-text="`Usage: ${product.usage}`"></span>
                                                  </p>
                                                  <a class="btn btn-primary" href="#">Buy</a>
                                                </div>
                                              </div>
                                              <div class="card" v-for="product in filteredProducts">
                                                <img class="card-img-top" src="http://fpoimg.com/300x200" alt="">
                                                <div class="card-block">
                                                  <h5 class="card-title" v-text="product.name"></h5>
                                                  <p class="card-text">
                                                    <span v-text="`Price: $${product.price.toFixed(2)}`"></span>
                                                    <br>
                                                    <span v-text="`Skill: ${product.skill}`"></span>
                                                    <br>
                                                    <span v-text="`Usage: ${product.usage}`"></span>
                                                  </p>
                                                  <a class="btn btn-primary" href="#">Buy</a>
                                                </div>
                                              </div>
                                              <div class="card" v-for="product in filteredProducts">
                                                <img class="card-img-top" src="http://fpoimg.com/300x200" alt="">
                                                <div class="card-block">
                                                  <h5 class="card-title" v-text="product.name"></h5>
                                                  <p class="card-text">
                                                    <span v-text="`Price: $${product.price.toFixed(2)}`"></span>
                                                    <br>
                                                    <span v-text="`Skill: ${product.skill}`"></span>
                                                    <br>
                                                    <span v-text="`Usage: ${product.usage}`"></span>
                                                  </p>
                                                  <a class="btn btn-primary" href="#">Buy</a>
                                                </div>
                                              </div>
                                              <div class="card" v-for="product in filteredProducts">
                                                <img class="card-img-top" src="http://fpoimg.com/300x200" alt="">
                                                <div class="card-block">
                                                  <h5 class="card-title" v-text="product.name"></h5>
                                                  <p class="card-text">
                                                    <span v-text="`Price: $${product.price.toFixed(2)}`"></span>
                                                    <br>
                                                    <span v-text="`Skill: ${product.skill}`"></span>
                                                    <br>
                                                    <span v-text="`Usage: ${product.usage}`"></span>
                                                  </p>
                                                  <a class="btn btn-primary" href="#">Buy</a>
                                                </div>
                                              </div>

                      </product-grid>
                    </view-content>
                    
                    <view-foot>
                      <p>
                        <small class="text-muted" v-text="`${products.length} total / ${filteredProducts.length} shown`"></small>
                      </p>
                    </view-foot>
                  </view-container>

<script>
    const products = [
  {name: 'Product 1', usage: 'Home', skill: 'Easy', price: 100.00},
  {name: 'Product 2', usage: 'Home', skill: 'Intermediate', price: 120.00},
  {name: 'Product 3', usage: 'Office', skill: 'Intermediate', price: 190.00},
  {name: 'Product 4', usage: 'Office', skill: 'Advanced', price: 260.00},
  {name: 'Product 5', usage: 'Warehouse', skill: 'Advanced', price: 320.00},
  {name: 'Product 6', usage: 'Farm', skill: 'Intermediate', price: 120.00},
  {name: 'Product 7', usage: 'Space', skill: 'Advanced', price: 157920.00},
  {name: 'Product 8', usage: 'Bathroom', skill: 'Easy', price: 9.00}
]

const tru = val => Boolean(val) === true

const hashValues = () => (
  location.hash.replace(/^#/, '').split(',').filter(tru)
)

const activeFilters = hashValues()

const vm = new Vue({
  el: '#app',
  data: {
    get uses() { 
      return R.pipe(R.pluck('usage'), R.uniq)(products)
    },
    get skills() { 
      return R.pipe(R.pluck('skill'), R.uniq)(products)
    },
    get filters() {
      return {
        'Usage': this.uses,
        'Skill': this.skills
      }
    },
    get filteredProducts() {
      // products that have either a skill or usage value present within active filters
      if (!this.activeFilters.length) return this.products
      return this.products.filter(prod => (
        [prod.skill, prod.usage].some(val => this.activeFilters.includes(val))
      ))
    },
    activeFilters,
    products
  },
  methods: {
    clearFilters() {
      this.activeFilters.splice(0, this.activeFilters.length)
    }
  },
  watch: {
    activeFilters: newVal => {
      location.hash = newVal.join(',')
    }
  }
})

window.onhashchange = () => {
  activeFilters.splice(0, activeFilters.length, ...hashValues())
}
</script>                

</body>


</html>